<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%-include("navbar/navbar")%>
    <div class="container w-50">
      <form method="post" action="/ticketBooking">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" name="name" id="name" />
        </div>
        <div class="mb-3">
          <label for="Number" class="form-label">Number</label>
          <input
            type="Number"
            class="form-control"
            id="Number"
            name="number"
            maxlength="10"
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" name="email" />
        </div>
        <div class="mb-3">
          <label for="trainName" class="form-label">Train Name</label>
          <select
            class="form-select"
            id="trainName"
            name="TrainName"
            aria-label="Default select example"
          >
            <option>Open this select menu</option>
            <%trains.forEach((train)=>{%>
            <option value="<%=train.trainName%>"><%=train.trainName%></option>
            <%})%>
          </select>
        </div>
        <div class="mb-3">
          <label for="quantity" class="form-label w-100">Ticket Quantity</label>
          <div class="d-flex">
            <input
              id="quantity"
              class="form-control w-70"
              type="range"
              name="TicketQuantity"
              min="0"
              max="10"
              value="0"
              onchange="updateTextInput(this.value);"
            />
            <input
              type="text"
              class="form-control w-25"
              id="textInput"
              value="0"
            />
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
      integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
      integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
      crossorigin="anonymous"
    ></script>
    <script>
      function updateTextInput(val) {
        document.getElementById("textInput").value = val;
      }
    </script>
  </body>
</html>
