<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/TrainList"
      >Train List</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/registerTrain">Register Train</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Admin">PNR List</a>
  </li>
</ul>
